First let's load up some basic files

In [1]:
import pandas as pd
import numpy as np

Now let's load up our coffee data

In [2]:
coffee_df = pd.read_csv('../data/arabica_data_cleaned.csv', index_col=[0])

Creating a copy of the original

In [3]:
coffee = coffee_df.copy()

In [4]:
coffee.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

Now we remove the columns that we are not interested in.

In [5]:
coffee.columns

Index(['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number',
       'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity',
       'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points',
       'Moisture', 'Category.One.Defects', 'Quakers', 'Color',
       'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [6]:
Unwanted = ['Region','Owner','Species', 'Farm.Name', 'Lot.Number', 'Mill',
       'ICO.Number', 'Company', 'Altitude', 'Producer',
       'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year',
       'Grading.Date', 'Owner.1', 'Variety', 'Total.Cup.Points',
       'Moisture', 'Category.One.Defects', 'Quakers', 'Color',
       'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement']

In [7]:
for categ in Unwanted:
    coffee.drop(categ,inplace=True, axis=1)

In [8]:
coffee.head()

,Country.of.Origin,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,1950.0,2200.0,2075.0
2,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0
3,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,1600.0,1800.0,1700.0
4,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,1800.0,2200.0,2000.0
5,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0

Renaming the columns to not include ".".

In [9]:
coffee.columns = coffee.columns.str.replace(".", "_")

C:\Users\Cassidy\AppData\Local\Temp/ipykernel_25296/419538660.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  coffee.columns = coffee.columns.str.replace(".", "_")

In [10]:
coffee.head()

,Country_of_Origin,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Cupper_Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,1950.0,2200.0,2075.0
2,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0
3,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,1600.0,1800.0,1700.0
4,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,1800.0,2200.0,2000.0
5,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0

In [11]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1311 entries, 1 to 1312
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country_of_Origin     1310 non-null   object
 1   Processing_Method     1159 non-null   object
 2   Aroma                 1311 non-null   float64
 3   Flavor                1311 non-null   float64
 4   Aftertaste            1311 non-null   float64
 5   Acidity               1311 non-null   float64
 6   Body                  1311 non-null   float64
 7   Balance               1311 non-null   float64
 8   Uniformity            1311 non-null   float64
 9   Clean_Cup             1311 non-null   float64
 10  Sweetness             1311 non-null   float64
 11  Cupper_Points         1311 non-null   float64
 12  altitude_low_meters   1084 non-null   float64
 13  altitude_high_meters  1084 non-null   float64
 14  altitude_mean_meters  1084 non-null   float64
dtypes: float64(13), object(2)
memory usage: 163.9+ KB

Note that many rows are missing altitude information. We can either perform imputation or remove those rows. We will try removing those rows, while also keeping a data frame that retains those rows for later imputation if we wish.

In [33]:
coffee_dropnan = coffee.dropna(subset = ["altitude_low_meters", "altitude_high_meters", "altitude_mean_meters"], 
                                           axis = 0)
coffee_dropnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 1 to 1312
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country_of_Origin     1084 non-null   object
 1   Processing_Method     1005 non-null   object
 2   Aroma                 1084 non-null   float64
 3   Flavor                1084 non-null   float64
 4   Aftertaste            1084 non-null   float64
 5   Acidity               1084 non-null   float64
 6   Body                  1084 non-null   float64
 7   Balance               1084 non-null   float64
 8   Uniformity            1084 non-null   float64
 9   Clean_Cup             1084 non-null   float64
 10  Sweetness             1084 non-null   float64
 11  Cupper_Points         1084 non-null   float64
 12  altitude_low_meters   1084 non-null   float64
 13  altitude_high_meters  1084 non-null   float64
 14  altitude_mean_meters  1084 non-null   float64
dtypes: float64(13), object(2)
memory usage: 135.5+ KB

Now remove the countries with too few entries. This will be done in parallel for both data sets.

In [43]:
countries_nan = coffee_dropnan.Country_of_Origin.value_counts()
countries = coffee.Country_of_Origin.value_counts()

In [44]:
drop_list = []
drop_list_nan = []

In [45]:
for count in countries.index:
    if countries[count] < 10:
        drop_list.append(count)

In [46]:
for count in countries_nan.index:
    if countries[count] < 10:
        drop_list_nan.append(count)

In [47]:
for item in drop_list:
    coffee.drop(coffee[coffee.Country_of_Origin == item].index, inplace=True)

In [48]:
for item in drop_list_nan:
    coffee_dropnan.drop(coffee_dropnan[coffee_dropnan.Country_of_Origin == item].index, inplace=True)

In [50]:
print(coffee.Country_of_Origin.value_counts())
print()
print(coffee_dropnan.Country_of_Origin.value_counts())
#notice that an additional country was dropped after removing the entries without altitude information

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
Name: Country_of_Origin, dtype: int64

Mexico                          232
Guatemala                       156
Colombia                        150
Brazil                          105
Taiwan                           70
Honduras                         51
Costa Rica                       46
Tanzania, United Republic Of     37
Ethiopia                         30
Uganda                           24
Kenya                            23
Thailand                         20
El Salvador                      19
Indonesia                        18
Nicaragua                        18
China                            16
Malawi                           11
Name: Country_of_Origin, dtype: int64

In [51]:
drop_list

['United States',
 'Myanmar',
 'Vietnam',
 'Haiti',
 'Philippines',
 'Panama',
 'United States (Puerto Rico)',
 'Laos',
 'Burundi',
 'Ecuador',
 'Rwanda',
 'Japan',
 'Zambia',
 'Papua New Guinea',
 'Mauritius',
 'Cote d?Ivoire',
 'India']

Removing any blank entries for Country of origin

In [52]:
coffee['Country_of_Origin'].replace('',np.nan, inplace=True)
coffee_dropnan['Country_of_Origin'].replace('',np.nan, inplace=True)

In [53]:
coffee.dropna(subset=['Country_of_Origin'], inplace=True)
coffee_dropnan.dropna(subset=['Country_of_Origin'], inplace=True)

Saving the files.

In [54]:
coffee.to_csv('../data/coffee.csv',index = False)
coffee_dropnan.to_csv('../data/coffee_dropnan.csv',index = False)